<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}PayAssistant{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap-responsive-timeline/css/timeline.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/app/app.css') }}">
</head>
<body id="page-{{ app.request.attributes.get("_route") }}">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('assets/paya.png') }}" alt="PAYA - Pay Assistant"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-left:30px;">
                <li{% if app.request.attributes.get("_route") == 'payments' %} class="active"{% endif %}>
                    <a href="{{ path('payments') }}">Twoje płatności  <span class="badge">2</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Połączone konta</a></li>
                <li><a href="#">Ustawienia profilu</a></li>
                <li><a href="{{ path('auth_unauthenticate') }}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" role="main" id="container">
    <h2>{% block header %}{% endblock %}</h2>
    <hr>

    {% for flash_message in app.session.flashBag.get('info') %}
        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-info-sign"></i> {{ flash_message }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>
<footer>
    <div class="container">
        Made with <span class="heart">&hearts;</span> during <span>bankITup</span>.
    </div>
</footer>

<script>
    var appConfig = {
        'baseUrl': '{{ app.request.getBaseURL() }}'
    };
</script>
<script src="{{ asset('assets/jquery/jquery-3.2.1.js') }}"></script>
<script src="{{ asset('assets/knob/jquery.knob.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/app/app.js') }}"></script>
<script>
    $(".knob-payments").knob();
    $(".knob-aim").knob();
    $(".knob-saves").knob({
        'format': function (value) {
            return value + "zł";
        }
    });
    $(".knob-balance").knob({
        'format': function (value) {
            return value + "zł";
        }
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>